* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    color: #333;
}

.search-section {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding-right: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.search-section i {
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.search-section i:hover {
    opacity: 0.8;
}

.search-input {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #333;
    font-size: 20px;
    padding: 15px 20px;
}

.github.loading {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 200, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 20px;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-right: 250px;
    margin-left: 250px; 
}

.name,
.login {
    font-size: 35px;
    font-weight: 700;
    text-align: left;
}

.login {
    color: #666;
}

.d-grid-3,
.d-grid-2 {
    display: flex;
    margin-top: 20px;
    justify-content: left;
}

.repo-section,
.follower-section,
.following-section,
.location-section,
.company-section {
    flex: 9;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.location-section i,
.company-section i {
    margin-right: 10px;
    margin-left: 15px;

}

.location,
.company {
    font-weight: bold;
}

/* .info {
    flex-grow: 10;
    text-align: justify;
} */

.bio {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    justify-content: left;
    color: #333;
}

.repositories {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.repo {
    flex: 0 0 calc(50% - 20px);
    box-sizing: border-box;
    margin-bottom: 30px;
    position: relative;
}

.repo-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 200, 0.2);
}

.repo-language {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #3498db;
}
/* .repo-description {
    font-size: 14px;
    color: #27ea09;
    margin-bottom: 10px;
} */


.repo:nth-child(2n) {
    margin-right: 0;
}

.repo-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.repo-name {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
}

.repo-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px; 
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 200, 0.2);
    margin-bottom: 20px; 
    position: relative;
}

.repo-language {
    font-size: 14px; 
    color: #fff;
    padding: 8px 12px; 
    border-radius: 5px;
    background-color: #3498db;
    position: absolute;
    top: 15px; 
    right: 15px; 
}

.github.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.github.loading:after {
    visibility: visible;
    content: "Loading your Entered id!!";
    color: #333;
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.error {
    display: none;
    padding: 25px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 200, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 25px;
    color: #e74c3c;
}

.bottom-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bottom-section label {
    margin-right: 10px;
}

.bottom-section input {
    width: 50px;
    margin-right: 10px;
}

.bottom-section button {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

.bottom-section button:hover {
    background-color: #2980b9;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination-arrow {
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
}

.page-numbers {
    display: flex;
    margin-top: 10px;
}

.page-numbers span {
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.page-numbers span:hover {
    background-color: #ddd;
}

.page-numbers span.current-page {
    font-weight: bold;
    text-decoration: underline;
}

.pagination-arrow {
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
}

.pagination-container {
    display: flex;
    align-items: center;
}

@media (max-width: 650px) {
    .repo {
        flex: 1 1 100%;
    }
}
